.about-container{
  width: 25rem;
  overflow: visible;
  box-shadow: 0, 0, 15px, -5px;
  background-color: black;
  transition: 0.3s;
  animation: ease-in;
  margin-right: 16px;
  border-radius: 1rem;
  white-space: 1rem;
}

.about-container:hover{
    background-color: rgba(0, 0, 0, 0.811);
    transform: scale(1.06);
  }

p{
  color: aliceblue;
  }

h2{
  color:rgb(139, 139, 139);
}